:host {
  display: block;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-180deg);
  }
}

svg {
  width: 100px;
}

.text {
  animation: 3s infinite rotate;
  transform-origin: center;
}
